/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f1e3;
}

h1 {
  font-size: 5.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

/* Style for the buttons */
button {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/* container for the home page */
.container {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Header Section */
.welcome-header {
  text-align: center;
}

.intro-header {
  margin-top: 5px;
}

/* buttons */
.sign-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

.signin-btn {
  background-color: #2088aa;
  color: white;
}

.signin-btn:hover {
  cursor: pointer;
  background-color: #91e0fa;
  color: #373e44;
}

.signout-btn {
  background-color: #5c7780;
  color: white;
}

.signout-btn:hover {
  cursor: pointer;
  background-color: #bed7df;
  color: #373e44;
}

/* signin form section */
.signin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header {
  text-align: center;
  margin: 5vh 0;
  padding: 4rem;
}

label {
  margin: 0rem 3rem;
}

input {
  padding: 2rem 3rem;
}

.form-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper .firstname-form,
.form-wrapper .lastname-form,
.form-wrapper .phone-form,
.form-wrapper .datetime-form {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrapper .firstname-form label,
.form-wrapper .firstname-form input,
.form-wrapper .lastname-form label,
.form-wrapper .lastname-form input,
.form-wrapper .phone-form label,
.form-wrapper .phone-form input,
.form-wrapper .datetime-form label,
.form-wrapper .datetime-form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-wrapper .firstname-form input[type="datetime-local"],
.form-wrapper .lastname-form input[type="datetime-local"],
.form-wrapper .phone-form input[type="datetime-local"],
.form-wrapper .datetime-form input[type="datetime-local"] {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.btn-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10vh 0;
}

.btn-form .back-btn {
  background-color: #5c7780;
  color: white;
}

.btn-form .back-btn:hover {
  cursor: pointer;
  background-color: #bed7df;
  color: #373e44;
}

.btn-form .next-btn {
  background-color: #2088aa;
  color: white;
}

.btn-form .next-btn:hover {
  cursor: pointer;
  background-color: #91e0fa;
  color: #373e44;
}

/* Questionnaire section */
.questionnaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.questionnaire .form-wrapper div {
  padding: 3rem;
  text-align: center;
}

.questionnaire .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.questionnaire button {
  background-color: #34927b;
  color: white;
  margin-bottom: 3vh;
}

.questionnaire button:hover {
  cursor: pointer;
  background-color: #79e7cc;
  color: #373e44;
}

table,
th,
td {
  border: 1px solid black;
  font-size: 2.5rem;
}

table {
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #4ab7db;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover {
  background-color: #5c7780;
}

table tr:hover td {
  color: white;
}

table th,
table td {
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}

table th {
  background: #2088aa;
  color: #fff;
  text-transform: uppercase;
}

table th.last {
  border-right: none;
}

.return-btn {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.return-btn button {
  background-color: #5c7780;
  color: white;
  margin: 50px 100px;
}

.return-btn button:hover {
  cursor: pointer;
  background-color: #bed7df;
  color: #373e44;
}
/*# sourceMappingURL=style.css.map */